.green-background{
    -fx-background-color: #0e783f;
}
.blue-background{
    -fx-background-color: #1301e1;
}
.round-layout{
    -fx-background-radius: 50;

}
.border{
    -fx-border-color: black;
      -fx-border-width: 2;
}
.grey-background{
    -fx-background-color: #d9d9d9;
}
.transparent-background{
    -fx-background-color: transparent;
}
.white-background{
    -fx-background-color: white;
}
.greenish-background{
    -fx-background-color: #ddffed;
}
.black-background{
    -fx-background-color: black;
}
.button-shadows {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.stock-label {
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB";
    -fx-text-fill: #000000;
}

#stockInfoArea {
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 20;
}

.list-cell:filled {
    -fx-control-inner-background: #ffffff;
    -fx-control-inner-background-alt: #ffffff;
}
